@mixin min-em($width) {
	
	  $base: $em-base;
	  @if not unitless($base) {
	      $base: strip-units($base);
	  }		
	$new-width: $width / $base;
	
	@media screen and (min-width: $new-width + em ) {
		@content;	
	}
}

@mixin font-smoothing {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}